@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 20px;
    padding:0px;
    box-sizing: border-box;
    font-family:'Roboto', sans-serif;
}

.container-grid {
    background-color: #ffffff;
    font-family:'Roboto', sans-serif;
    display:flex;
    justify-content: center;
    align-content: space-between;
}


.container-grid_2 {
    background-color:#437ABD;
    font-family:'Roboto', sans-serif;
}
